// Mixins Here

.btn(@bg, @color) {
  background-color: @bg; /* Green */
  color: @color;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  border-radius: 5;
  .spacing();

  :hover {
    background-color: @color;
    color: @bg;
  }
}

.flex(@justify, @align) {
    display: flex;
    justify-content: @justify;
    align-items: @align;
}

.spacing {
    margin: 10px;
    padding: 10px;
}